@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
*{
    font-family: "Be Vietnam Pro";
}
@media (max-width: 900px){
   a:link{
    text-decoration: none;
   }
    input:hover{
        background-color: rgba(182, 32, 228, 0.7);
    }    
    .span1{
        display: none;
    }
nav{
    display: none;
}
.Contacto{
    color: #FAFAFA;
}   
.a1{
    display: none;
}
.div1{
    display: none;
}
.div3{
    display: none;
}
.a2{
   text-decoration:none;
    position: relative;
    color: #FFFFFF;
    left: 25%;
    bottom: 15px;
}
.img2{

    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-left: 50px;
}
.bars{
    margin-top: 30px;
    margin-right: 50px;

}

.main1{
    margin-left: 20px;
    margin-right:20px ;
}
.IMAGEN{
    width: 100%;
}
.main11{
    
    text-align: right;
    color: #232C50;
    font-size: 50px;
}
.pmain{
    
    text-align: right;
   
    font-size: 16.56px;
}
.contact{
    text-align: right;
}
.boton1{
    background-color: blueviolet;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 13.18px;
}
.main2{
    margin-top: 4vh;
    background-color: #3CDDF3;
}
.section2{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    
}
.titulomain2{
text-align: left;
margin-left: 5%;
    font-size: 36px;
    color: #FFFFFF;
}
.pmain2{
text-align:justify;
margin-left: 20px;
margin-right: 20px;
    font-size: 16px;
    color: #FFFFFF;
}
.main3{
    margin-top: 15%;
   margin-left: 40px;
}
.divmain3{
    display: flex;
    justify-content: space-between;
}
.titulo1main3{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 15px;
    color: #323851;
    background-color: #8B48BF4D;
}
.input1main3{
    
    width: 5%;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #8B48BF;
}

.input2main3{
    text-align: center;
    color: #FFFFFF;
    background-color: #8B48BF;
}

.input3main3{
    text-align: center;
    color: #FFFFFF;
    background-color: #8B48BF;
}
.pmain3{
    text-align: left;
    margin-right: 55px;
    color:#B3B2B7;
}
.main4{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.titulomain4{
    font-size: 40px;
    text-align: center;
    color: #242E53;

}
.divmain4{
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: #FAFAFA;
}
.img3{
    position: relative;
    top: -30px;
    border-radius: 50%;
}
.h4main4{
    font-size: 16px;
    text-align: center;
    color: #242E53;
}
.pmain4{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
    color: #B9B9C1;
}
.boton2{
    
    background-color: blueviolet;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 13.18px;
}
.more{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.more2{
    position: relative;
right: 50%;
bottom: 14px;
color:white;
}
.main5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 10%;
    background-color: #3CDDF3;
}
.titulomain5{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
    color: #FFFFFF;
}

.boton3{
    background-color: #232C50;
    padding: 10px;
    margin-bottom: 25%;
    width: 100px;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 13.18px;
}
footer{
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    
    background-color: black;
}
.inputfooter{
display: flex;
justify-content: space-evenly;
align-items: center;
margin-right: 10%;
margin-top: 50px;
}
.email{
    
    font-size: 13.18px;
    height: 40px;
    width: 100%;
    border-radius: 50px;
}
.boton4{
    background-color: blueviolet;
    height: 40px;
    width: 60px;
    font-size: 13.18px;
    border-radius: 50px;
    
    color: #FFFFFF;
    
}
.listafooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    height: 130px;
    padding: 10px;
    list-style: none;
color: #FFFFFF;
}
.listados{
    margin-top: 12px;
}
.logos{
display: flex;
justify-content: space-around   ;
}
.logos2{
    margin-top: 10%;
    text-align: center;
color: #FFFFFF;
}
.copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 20px;
color: #8C8C94;
}
}