@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@media (max-width: 1440px)and (min-width:901px){
a:link{
    background-color: chocolate;
    color: aqua;
}
}